*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 13px;
    padding: 10px;
    font-weight: 300;
    line-height: 22px;
    padding: 0;
}

.logo{
    position: relative;
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
}

.logo img{
    height: 10vh;
}

.logo span{
    position: absolute;
    right: 50px;
    font-weight: 700;
    font-size: 200%;
    margin: auto;
    text-align: center;
    top: 22%;
    color: rebeccapurple
}

.nav-links{
    background-color: black;
    box-shadow: 0 1px 10px black;
    display: flex;
    justify-content: right;
    position: sticky;
    z-index: 3;
    top: 0;
}

.nav-links ul{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.nav-links ul a{
    padding: 3%;
    list-style: none;
    transition: 0.4s;
}

.nav-links ul a{
    color: white;
    text-decoration: none;
}

.nav-links ul a:hover{
    background-color: red;
}

.about{
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7%;
    width: 100%;
}

.about-content{
    flex-basis: 54%;
}

.about-content h1{
    font-weight: 500;
    font-size: 50px;
    word-spacing: 2px;
}

.about-content p{
    line-height: 30px;
    font-size: large;
    margin-top: 5%;
}

.about-img{
    flex-basis:40%;
}

.about-img img{
    width: 100%;
    border-radius: 10px;
}


@media (max-width:950px){
    .logo span{
        display: none;
    }
}



/* -------------People------------- */
.people 
{
    width: 80%;
    margin: auto;
    padding: 5%;
}

.people-heading h1{
    font-size: 50px;
    font-weight: 500;
    display: inline-block;
}

.people-heading h1::after{
    content: "";
    display: block;
    height: 4px;
    width: 80%;
    background-color: black;
    margin-left: 3px;
}

.people-container{
    flex-basis: 46%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:#fff3f3;
    padding: 20px 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    transition-duration: 0.4s;
    min-height: 50%;
}
.people-container:hover{
    box-shadow: 0 0 15px rgba(182, 181, 181, 0.745);
}


.people-container img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.people-content{
    padding-left: 15px;
}

.people-content h3{
    font-size: 20px;
}
.people-content h4{
    padding-top: 4px;
    font-weight: 500;
}
.people-content p{
    padding-top: 10px;
}
.people-content .people-icons{
    padding-top: 10px;
    transform: translateX(28%);
}
.people-icons .fa-brands{
    margin-left: 3px;
    transition-duration: 0.2s;
}

/* ------------------FOOTER------------------ */

.footer{
    width: 100%;
    margin-top: 6%;
    margin-bottom: 2%;
}

.footer-content{
    width: 80%;
    margin: auto;
    text-align: center;
}

.footer h4{
    font-weight: 600;
}

.footer p{
    margin-top: 2%;
}

.footer-content .fa-brands{
    margin: 20px;
    transform: scale(1.5);
}

.fa-brands:hover{
    color: blue;
    cursor: pointer;
}

.footer-content .fa-heart{
    color: red;
}

@media (max-width:750px){
    .row{
        flex-direction: column;
    }
    .about-content{
        flex-basis: 100%;
    }
    .about-img{
        flex-basis:100%;
    }
    .about-content p{
        line-height: 25px;
        font-size: medium;
    }
    .about-content h1{
        font-weight: 500;
        font-size: 35px;
    }
    .nav-links ul{
        width: 100%;
    }
    .footer{
        margin-top: 120px;
    }
    .footer-content .fa-brands{
        margin:15px;
        transform: scale(1);
    }
    .footer-content p{
        font-size: 12px;
    }
}